"*":
  "atom-beautify":
    c:
      configPath: "/Users/hasebe/.uncrustify/uncrustify.cfg"
    cpp:
      configPath: "/Users/unagoccia/.uncrustify/uncrustify.cfg"
    cs:
      configPath: "/Users/unagoccia/.uncrustify/uncrustify.cfg"
    general:
      _analyticsUserId: "c020df16-a586-4ee7-a61c-6ef28a37f37e"
    java:
      configPath: "/Users/unagoccia/.uncrustify/uncrustify.cfg"
    objectivec:
      configPath: "/Users/hasebe/.uncrustify/uncrustify.cfg"
    pawn:
      configPath: "/Users/hasebe/.uncrustify/uncrustify.cfg"
    vala:
      configPath: "/Users/hasebe/.uncrustify/uncrustify.cfg"
  "autocomplete-plus":
    confirmCompletion: "enter"
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "script"
      "file-icons"
      "grunt-runner"
      "linter-jshint"
      "language-gfm"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".localized"
      ".vagrant"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "atom-monokai-dark"
    ]
  editor:
    fontFamily: "Osaka"
    fontSize: 16
    invisibles: {}
    preferredLineLength: 150
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
    tabType: "soft"
    undoGroupingInterval: 1000
  "exception-reporting":
    userId: "e3827a09-2475-c9d9-1b45-cd2ec54493aa"
  "git-plus": {}
  "highlight-line": {}
  "japanese-wrap":
    characterWidth: {}
  linter: {}
  "linter-eslint":
    fixOnSave: true
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/local/bin/shellcheck"
  "linter-ui-default":
    showPanel: true
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
    syncHorizontalScroll: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".diff.source":
  editor:
    preferredLineLength: 150
".grails.html.text":
  editor:
    preferredLineLength: 150
    tabLength: 4
".shell-session.text":
  editor:
    softWrap: true
    softWrapHangingIndent: 4
".shell.source":
  editor:
    softWrap: true
    softWrapHangingIndent: 4
