"*":
  "atom-beautify":
    _analyticsUserId: "c020df16-a586-4ee7-a61c-6ef28a37f37e"
    general:
      _analyticsUserId: "0ccbbe58-eb52-47de-b6f8-ba0f6af45a51"
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "script"
      "file-icons"
      "grunt-runner"
      "linter-jshint"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".localized"
      ".vagrant"
    ]
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    invisibles: {}
    preferredLineLength: 150
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
    undoGroupingInterval: 1000
  "exception-reporting":
    userId: "e3827a09-2475-c9d9-1b45-cd2ec54493aa"
  "git-plus": {}
  "highlight-line": {}
  "japanese-wrap":
    characterWidth: {}
  linter:
    showErrorPanel: false
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".diff.source":
  editor:
    preferredLineLength: 150
